
@keyframes shift-text {
  from { left: 0px; }
  to { left: 30px; }
}

/* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.landing{
  padding: 2em;
  max-width: $grid-max-width;
  margin: 0 auto;
  
  .option-container{
    transition: all .5s ease-in-out;
    background-image: linear-gradient(to left, transparent 50%, #e1bbf1 50%);
    border: 1px dotted #ccc;
    vertical-align: middle;
    background-size: 200% 100%;
    background-position: 100% top, 100% top;
    
    label ,input{
      margin-bottom:0 !important;
      cursor:pointer;
      padding: 0.5em 0.1em;
    }
    label{
      width:90%;
    }
    input{
      width:10%
    }
    &:hover{
      @extend .effects-container;
    }
  }
  .active-container{
    @extend .effects-container;
  }
  .effects-container{
    background-position: 0% top, 0% top;
    border:1px dotted $theme-color;
    color: #1c181d;
  }
  .survey-title{
    text-overflow: ellipsis;
    width:inherit;
    white-space: nowrap; 
    overflow: hidden;
  }
  .qtn-ans{
    text-align: justify;
    padding: 1em 0em;
    .questions{
      color:#9b4dca;
      font-weight: bold;
    }
    .answer{
      font-weight: bold;
    }
  }
}

.answer-container{
  min-height:13em; 
  label.options{
    display: inline-block;
  }
}

.survey-navigation{
  text-align: center;
  .button{
    &:last-child{
      margin-left: 1em;
    }
  }
}

@media #{$breakpoint-small} {
  .verify-container{
    overflow: scroll;
    height: 65%;
  }
}

.next{
  transition: all .5s ease-in-out;
  background-image: linear-gradient(to left, #9b4dca 50%, #e1bbf1 50%);
  background-size: 200% 100%;
  background-position: 100% top, 100% top;
}
.next:hover{
  @extend .effects-container;
  span{
    position: relative;
    animation-name: shift-text;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
  }
}
