// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
$grid-columns: 12;
$grid-max-width: 55em;
$theme-font-color:#52bbbe99;
$theme-color:#9b4dca;